In [21]:
import pandas as pd
import psycopg2
from sqlalchemy import create_engine

engine = psycopg2.connect(
    database="final-frontier2",
    user="postgres",
    password="TypicalParkerLuck",
    host="final-frontier.czribcwnemzt.us-east-1.rds.amazonaws.com",
    port='5432',
    connect_timeout=3)

#engine #.table_names()
cursor = engine.cursor()

In [22]:
# Select home player roster for when MUN played at Liverpool

drop_Query = "drop table if exists livvman;"
cursor.execute(drop_Query)


sel_liv_home_Query = "select distinct p.player_name, p.player_api_id, m.home_team_api_id \
                into temporary table livvman from player p, \
                match m where ((p.player_api_id = m.home_player_1) \
                               or (p.player_api_id = m.home_player_2) \
                               or (p.player_api_id = m.home_player_3) \
                               or (p.player_api_id = m.home_player_4) \
                               or (p.player_api_id = m.home_player_5) \
                               or (p.player_api_id = m.home_player_6) \
                               or (p.player_api_id = m.home_player_7) \
                               or (p.player_api_id = m.home_player_8) \
                               or (p.player_api_id = m.home_player_9) \
                               or (p.player_api_id = m.home_player_10) \
                               or (p.player_api_id = m.home_player_11)) \
                and ((m.home_team_api_id = 8650) and (away_team_api_id = 10260));"

cursor.execute(sel_liv_home_Query)
join_liv_home_Query = "select * from livvman \
                  left join player_attributes \
                  on livvman.player_api_id = player_attributes.player_api_id;"
cursor.execute(join_liv_home_Query)

liverpool_home = cursor.fetchall()
liv_home_df = pd.DataFrame(liverpool_home,columns=['player_name','player_api_id','home_team_api_id','id','player_fifa_api_id','player_api_id-2',\
                'date','overall_rating','potential','preferred_foot','attacking_work_rate','defensive_work_rate','crossing','finishing','heading_accuracy',\
                'short_passing','volleys','dribbling','curve','free_kick_accuracy','long_passing','ball_control','acceleration','sprint_speed',\
                'agility','reactions','balance','shot_power','jumping','stamina','strength','long_shots','aggression','interceptions','positioning',\
                'vision','penalties','marking','standing_tackle','sliding_tackle','gk_diving','gk_handling','gk_kicking','gk_positioning','gk_reflexes'])

liv_home_df

,player_name,player_api_id,home_team_api_id,id,player_fifa_api_id,player_api_id-2,date,overall_rating,potential,preferred_foot,...,vision,penalties,marking,standing_tackle,sliding_tackle,gk_diving,gk_handling,gk_kicking,gk_positioning,gk_reflexes
0,Daniel Agger,25984,8650,34763,152039,25984,2007-02-22 00:00:00,72.0,89.0,left,...,73.0,72.0,77.0,68.0,85.0,8.0,5.0,47.0,13.0,10.0
1,Daniel Agger,25984,8650,34762,152039,25984,2007-08-30 00:00:00,83.0,86.0,left,...,73.0,78.0,82.0,85.0,85.0,8.0,25.0,78.0,25.0,25.0
2,Daniel Agger,25984,8650,34761,152039,25984,2008-08-30 00:00:00,82.0,86.0,left,...,73.0,78.0,85.0,87.0,85.0,8.0,25.0,83.0,25.0,25.0
3,Daniel Agger,25984,8650,34760,152039,25984,2009-02-22 00:00:00,82.0,86.0,left,...,73.0,78.0,85.0,87.0,85.0,8.0,25.0,83.0,25.0,25.0
4,Daniel Agger,25984,8650,34759,152039,25984,2009-08-30 00:00:00,81.0,86.0,left,...,73.0,78.0,83.0,87.0,85.0,8.0,25.0,83.0,25.0,25.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1169,Lucas Leiva,95327,8650,104535,176266,95327,2013-11-22 00:00:00,80.0,82.0,right,...,69.0,61.0,80.0,84.0,78.0,10.0,8.0,8.0,5.0,6.0
1170,Lucas Leiva,95327,8650,104534,176266,95327,2014-04-25 00:00:00,80.0,82.0,right,...,69.0,61.0,80.0,84.0,78.0,10.0,8.0,8.0,5.0,6.0
1171,Lucas Leiva,95327,8650,104533,176266,95327,2014-09-18 00:00:00,79.0,79.0,right,...,69.0,61.0,80.0,80.0,78.0,10.0,8.0,8.0,5.0,6.0
1172,Lucas Leiva,95327,8650,104532,176266,95327,2015-09-21 00:00:00,79.0,79.0,right,...,69.0,61.0,80.0,80.0,78.0,10.0,8.0,8.0,5.0,6.0
1173,Lucas Leiva,95327,8650,104531,176266,95327,2016-03-10 00:00:00,79.0,79.0,right,...,69.0,61.0,80.0,81.0,80.0,10.0,8.0,8.0,5.0,6.0

In [23]:
# Select away player roster for when MUN played at Liverpool

drop_Query = "drop table if exists manvliv;"
cursor.execute(drop_Query)

sel_man_away_Query = "select distinct p.player_name, p.player_api_id, m.away_team_api_id \
              into temporary table manvliv from player p, \
              match m where ((p.player_api_id = m.away_player_1) \
                              or (p.player_api_id = m.away_player_2) \
                              or (p.player_api_id = m.away_player_3) \
                              or (p.player_api_id = m.away_player_4) \
                              or (p.player_api_id = m.away_player_5) \
                              or (p.player_api_id = m.away_player_6) \
                              or (p.player_api_id = m.away_player_7) \
                              or (p.player_api_id = m.away_player_8) \
                              or (p.player_api_id = m.away_player_9) \
                              or (p.player_api_id = m.away_player_10) \
                              or (p.player_api_id = m.away_player_11)) \
            and ((m.away_team_api_id = 10260) and (home_team_api_id = 8650));"
cursor.execute(sel_man_away_Query)

join_man_away_Query = "select * from manvliv left join player_attributes \
                  on manvliv.player_api_id = player_attributes.player_api_id;"
cursor.execute(join_man_away_Query)

man_away = cursor.fetchall()
man_away_df = pd.DataFrame(man_away,columns=['player_name','player_api_id','home_team_api_id','id','player_fifa_api_id','player_api_id-2','date',\
                'overall_rating','potential','preferred_foot','attacking_work_rate','defensive_work_rate','crossing','finishing','heading_accuracy',\
                'short_passing','volleys','dribbling','curve','free_kick_accuracy','long_passing','ball_control','acceleration','sprint_speed',\
                'agility','reactions','balance','shot_power','jumping','stamina','strength','long_shots','aggression','interceptions','positioning',\
                'vision','penalties','marking','standing_tackle','sliding_tackle','gk_diving','gk_handling','gk_kicking','gk_positioning','gk_reflexes'])
man_away_df

,player_name,player_api_id,home_team_api_id,id,player_fifa_api_id,player_api_id-2,date,overall_rating,potential,preferred_foot,...,vision,penalties,marking,standing_tackle,sliding_tackle,gk_diving,gk_handling,gk_kicking,gk_positioning,gk_reflexes
0,Danny Welbeck,113836,10260,37686,186146,113836,2007-02-22 00:00:00,64.0,87.0,right,...,57.0,58.0,21.0,22.0,18.0,3.0,21.0,39.0,21.0,21.0
1,Danny Welbeck,113836,10260,37685,186146,113836,2008-08-30 00:00:00,64.0,87.0,right,...,57.0,58.0,21.0,22.0,18.0,3.0,21.0,39.0,21.0,21.0
2,Danny Welbeck,113836,10260,37684,186146,113836,2009-02-22 00:00:00,71.0,87.0,right,...,57.0,65.0,21.0,22.0,18.0,3.0,21.0,39.0,21.0,21.0
3,Danny Welbeck,113836,10260,37683,186146,113836,2009-08-30 00:00:00,73.0,85.0,right,...,57.0,62.0,21.0,22.0,18.0,3.0,21.0,39.0,21.0,21.0
4,Danny Welbeck,113836,10260,37682,186146,113836,2010-02-22 00:00:00,71.0,85.0,right,...,57.0,62.0,21.0,22.0,18.0,3.0,21.0,39.0,21.0,21.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1031,Ji-Sung Park,30802,10260,81842,39943,30802,2013-05-24 00:00:00,72.0,72.0,right,...,77.0,76.0,41.0,32.0,23.0,6.0,15.0,6.0,14.0,9.0
1032,Ji-Sung Park,30802,10260,81841,39943,30802,2013-09-20 00:00:00,79.0,79.0,right,...,77.0,76.0,41.0,32.0,23.0,6.0,15.0,6.0,14.0,9.0
1033,Ji-Sung Park,30802,10260,81840,39943,30802,2013-12-27 00:00:00,79.0,79.0,right,...,77.0,74.0,41.0,32.0,23.0,6.0,15.0,6.0,14.0,9.0
1034,Ji-Sung Park,30802,10260,81839,39943,30802,2014-04-04 00:00:00,78.0,78.0,right,...,76.0,74.0,45.0,52.0,33.0,6.0,15.0,6.0,14.0,9.0
1035,Ji-Sung Park,30802,10260,81838,39943,30802,2014-05-09 00:00:00,78.0,78.0,right,...,76.0,74.0,45.0,52.0,33.0,6.0,15.0,6.0,14.0,9.0

In [24]:
# Select home player roster for when Liverpool played at MUN

drop_Query = "drop table if exists manvliv;"
cursor.execute(drop_Query)

sel_man_home_Query = "select distinct p.player_name, p.player_api_id, m.home_team_api_id \
                into temporary table manvliv from player p, \
                match m where ((p.player_api_id = m.home_player_1) \
                               or (p.player_api_id = m.home_player_2) \
                               or (p.player_api_id = m.home_player_3) \
                               or (p.player_api_id = m.home_player_4) \
                               or (p.player_api_id = m.home_player_5) \
                               or (p.player_api_id = m.home_player_6) \
                               or (p.player_api_id = m.home_player_7) \
                               or (p.player_api_id = m.home_player_8) \
                               or (p.player_api_id = m.home_player_9) \
                               or (p.player_api_id = m.home_player_10) \
                               or (p.player_api_id = m.home_player_11)) \
                and ((m.home_team_api_id = 10260) and (away_team_api_id = 8650));"
cursor.execute(sel_man_home_Query)

join_man_home_Query = "select * from manvliv left join player_attributes \
                  on manvliv.player_api_id = player_attributes.player_api_id;"
cursor.execute(join_man_home_Query)

man_home = cursor.fetchall()
man_home_df = pd.DataFrame(man_home,columns=['player_name','player_api_id','home_team_api_id','id','player_fifa_api_id','player_api_id-2','date',\
                    'overall_rating','potential','preferred_foot','attacking_work_rate','defensive_work_rate','crossing','finishing','heading_accuracy',\
                    'short_passing','volleys','dribbling','curve','free_kick_accuracy','long_passing','ball_control','acceleration','sprint_speed','agility',\
                    'reactions','balance','shot_power','jumping','stamina','strength','long_shots','aggression','interceptions','positioning','vision','penalties',\
                    'marking','standing_tackle','sliding_tackle','gk_diving','gk_handling','gk_kicking','gk_positioning','gk_reflexes'])
man_home_df

,player_name,player_api_id,home_team_api_id,id,player_fifa_api_id,player_api_id-2,date,overall_rating,potential,preferred_foot,...,vision,penalties,marking,standing_tackle,sliding_tackle,gk_diving,gk_handling,gk_kicking,gk_positioning,gk_reflexes
0,Danny Welbeck,113836,10260,37686,186146,113836,2007-02-22 00:00:00,64.0,87.0,right,...,57.0,58.0,21.0,22.0,18.0,3.0,21.0,39.0,21.0,21.0
1,Danny Welbeck,113836,10260,37685,186146,113836,2008-08-30 00:00:00,64.0,87.0,right,...,57.0,58.0,21.0,22.0,18.0,3.0,21.0,39.0,21.0,21.0
2,Danny Welbeck,113836,10260,37684,186146,113836,2009-02-22 00:00:00,71.0,87.0,right,...,57.0,65.0,21.0,22.0,18.0,3.0,21.0,39.0,21.0,21.0
3,Danny Welbeck,113836,10260,37683,186146,113836,2009-08-30 00:00:00,73.0,85.0,right,...,57.0,62.0,21.0,22.0,18.0,3.0,21.0,39.0,21.0,21.0
4,Danny Welbeck,113836,10260,37682,186146,113836,2010-02-22 00:00:00,71.0,85.0,right,...,57.0,62.0,21.0,22.0,18.0,3.0,21.0,39.0,21.0,21.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1040,Ji-Sung Park,30802,10260,81842,39943,30802,2013-05-24 00:00:00,72.0,72.0,right,...,77.0,76.0,41.0,32.0,23.0,6.0,15.0,6.0,14.0,9.0
1041,Ji-Sung Park,30802,10260,81841,39943,30802,2013-09-20 00:00:00,79.0,79.0,right,...,77.0,76.0,41.0,32.0,23.0,6.0,15.0,6.0,14.0,9.0
1042,Ji-Sung Park,30802,10260,81840,39943,30802,2013-12-27 00:00:00,79.0,79.0,right,...,77.0,74.0,41.0,32.0,23.0,6.0,15.0,6.0,14.0,9.0
1043,Ji-Sung Park,30802,10260,81839,39943,30802,2014-04-04 00:00:00,78.0,78.0,right,...,76.0,74.0,45.0,52.0,33.0,6.0,15.0,6.0,14.0,9.0
1044,Ji-Sung Park,30802,10260,81838,39943,30802,2014-05-09 00:00:00,78.0,78.0,right,...,76.0,74.0,45.0,52.0,33.0,6.0,15.0,6.0,14.0,9.0

In [25]:
# Select away player roster for when Liverpool played at MUN

drop_Query = "drop table if exists livvman;"
cursor.execute(drop_Query)

sel_liv_away_Query = "select distinct p.player_name, p.player_api_id, m.away_team_api_id \
                into temporary table livvman from player p, \
                match m where ((p.player_api_id = m.away_player_1) \
                                or (p.player_api_id = m.away_player_2) \
                                or (p.player_api_id = m.away_player_3) \
                                or (p.player_api_id = m.away_player_4) \
                                or (p.player_api_id = m.away_player_5) \
                                or (p.player_api_id = m.away_player_6) \
                                or (p.player_api_id = m.away_player_7) \
                                or (p.player_api_id = m.away_player_8) \
                                or (p.player_api_id = m.away_player_9) \
                                or (p.player_api_id = m.away_player_10) \
                                or (p.player_api_id = m.away_player_11)) \
                and ((m.away_team_api_id = 8650) and (home_team_api_id = 10260));"
cursor.execute(sel_liv_away_Query)

join_liv_away_Query = "select * from livvman left join player_attributes \
                      on livvman.player_api_id = player_attributes.player_api_id;"
cursor.execute(join_liv_away_Query)

liv_away = cursor.fetchall()
liv_away_df = pd.DataFrame(liv_away,columns=['player_name','player_api_id','home_team_api_id','id','player_fifa_api_id','player_api_id-2','date','overall_rating',\
                'potential','preferred_foot','attacking_work_rate','defensive_work_rate','crossing','finishing','heading_accuracy','short_passing','volleys',\
                'dribbling','curve','free_kick_accuracy','long_passing','ball_control','acceleration','sprint_speed','agility','reactions','balance','shot_power',\
                'jumping','stamina','strength','long_shots','aggression','interceptions','positioning','vision','penalties','marking','standing_tackle','sliding_tackle',\
                'gk_diving','gk_handling','gk_kicking','gk_positioning','gk_reflexes'])
liv_away_df

,player_name,player_api_id,home_team_api_id,id,player_fifa_api_id,player_api_id-2,date,overall_rating,potential,preferred_foot,...,vision,penalties,marking,standing_tackle,sliding_tackle,gk_diving,gk_handling,gk_kicking,gk_positioning,gk_reflexes
0,Daniel Agger,25984,8650,34763,152039,25984,2007-02-22 00:00:00,72.0,89.0,left,...,73.0,72.0,77.0,68.0,85.0,8.0,5.0,47.0,13.0,10.0
1,Daniel Agger,25984,8650,34762,152039,25984,2007-08-30 00:00:00,83.0,86.0,left,...,73.0,78.0,82.0,85.0,85.0,8.0,25.0,78.0,25.0,25.0
2,Daniel Agger,25984,8650,34761,152039,25984,2008-08-30 00:00:00,82.0,86.0,left,...,73.0,78.0,85.0,87.0,85.0,8.0,25.0,83.0,25.0,25.0
3,Daniel Agger,25984,8650,34760,152039,25984,2009-02-22 00:00:00,82.0,86.0,left,...,73.0,78.0,85.0,87.0,85.0,8.0,25.0,83.0,25.0,25.0
4,Daniel Agger,25984,8650,34759,152039,25984,2009-08-30 00:00:00,81.0,86.0,left,...,73.0,78.0,83.0,87.0,85.0,8.0,25.0,83.0,25.0,25.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1143,Lucas Leiva,95327,8650,104535,176266,95327,2013-11-22 00:00:00,80.0,82.0,right,...,69.0,61.0,80.0,84.0,78.0,10.0,8.0,8.0,5.0,6.0
1144,Lucas Leiva,95327,8650,104534,176266,95327,2014-04-25 00:00:00,80.0,82.0,right,...,69.0,61.0,80.0,84.0,78.0,10.0,8.0,8.0,5.0,6.0
1145,Lucas Leiva,95327,8650,104533,176266,95327,2014-09-18 00:00:00,79.0,79.0,right,...,69.0,61.0,80.0,80.0,78.0,10.0,8.0,8.0,5.0,6.0
1146,Lucas Leiva,95327,8650,104532,176266,95327,2015-09-21 00:00:00,79.0,79.0,right,...,69.0,61.0,80.0,80.0,78.0,10.0,8.0,8.0,5.0,6.0
1147,Lucas Leiva,95327,8650,104531,176266,95327,2016-03-10 00:00:00,79.0,79.0,right,...,69.0,61.0,80.0,81.0,80.0,10.0,8.0,8.0,5.0,6.0