In [1]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine
import pandas as pd

In [2]:
# Create engine using the `demographics.sqlite` database file
engine = create_engine("sqlite:///C:/Users/JoshWeidenaar/Downloads/database.sqlite")

In [3]:
engine

Engine(sqlite:///C:/Users/JoshWeidenaar/Downloads/database.sqlite)

In [4]:
# Declare a Base using `automap_base()`
Base = automap_base()

In [5]:
# Use the Base class to reflect the database tables
Base.prepare(engine, reflect=True)

In [6]:
# Create a session
session = Session(engine)

In [7]:
# Print all of the classes mapped to the Base
classes = Base.classes.keys()

In [8]:
df_dict = {}

for i in classes:
    class_call = Base.classes[i]
    class_data = session.query(class_call).all()
    listie_dicts = []
    for j in class_data:
        listie_dicts.append(j.__dict__)
    df_dict[i] = pd.DataFrame(listie_dicts)

C:\Users\JoshWeidenaar\anaconda3\lib\site-packages\sqlalchemy\sql\sqltypes.py:661: SAWarning: Dialect sqlite+pysqlite does *not* support Decimal objects natively, and SQLAlchemy must convert from floating point - rounding errors and other issues may occur. Please consider storing Decimal numbers as strings or integers on this platform for lossless storage.
  util.warn(

In [12]:
country_id = df_dict['country']['id']
country_id_LEAGUE = df_dict['League']['country_id']
league_id = df_dict['League']['id']

In [20]:
league_id_MATCH = df_dict['Match']['league_id']
country_id_MATCH = df_dict['Match']['country_id']
home_team_api_id_MATCH = df_dict['Match']['home_team_api_id']
away_team_api_id_MATCH = df_dict['Match']['away_team_api_id'] 
player_id_MATCH = []#any attr in Match table that has the word "player" in it
player_id = df_dict['Player']['id']
player_api_id = df_dict['Player']['player_api_id']
player_fifa_id = df_dict['Player']['player_fifa_api_id']
player_attr_id = df_dict['Player_Attributes']['id']
player_id_ATTRS = df_dict['Player_Attributes']['player_api_id']
player_fifa_id_ATTRS = df_dict['Player_Attributes']['player_fifa_api_id']
team_fifa_id = df_dict['Team']['team_fifa_api_id']
team_id = df_dict['Team']['id']
team_api_id = df_dict['Team']['team_api_id']
team_id_ATTRS = df_dict['Team_Attributes']['team_api_id']
team_fifa_id_ATTRS = df_dict['Team_Attributes']['team_fifa_api_id']

In [22]:
player_merged = pd.merge(df_dict['Player'],df_dict['Player_Attributes'],left_on=player_api_id,right_on=player_id_ATTRS)

In [24]:
player_merged

,key_0,_sa_instance_state_x,player_fifa_api_id_x,player_api_id_x,weight,birthday,player_name,id_x,height,_sa_instance_state_y,...,sliding_tackle,short_passing,long_shots,interceptions,potential,agility,gk_diving,volleys,aggression,dribbling
0,505942,<sqlalchemy.orm.state.InstanceState object at ...,218353,505942,187,1992-02-29 00:00:00,Aaron Appindangoye,1,182.88,<sqlalchemy.orm.state.InstanceState object at ...,...,69.0,61.0,35.0,70.0,71.0,59.0,6.0,44.0,71.0,51.0
1,505942,<sqlalchemy.orm.state.InstanceState object at ...,218353,505942,187,1992-02-29 00:00:00,Aaron Appindangoye,1,182.88,<sqlalchemy.orm.state.InstanceState object at ...,...,69.0,61.0,35.0,70.0,71.0,59.0,6.0,44.0,71.0,51.0
2,505942,<sqlalchemy.orm.state.InstanceState object at ...,218353,505942,187,1992-02-29 00:00:00,Aaron Appindangoye,1,182.88,<sqlalchemy.orm.state.InstanceState object at ...,...,69.0,61.0,35.0,41.0,66.0,59.0,6.0,44.0,63.0,51.0
3,505942,<sqlalchemy.orm.state.InstanceState object at ...,218353,505942,187,1992-02-29 00:00:00,Aaron Appindangoye,1,182.88,<sqlalchemy.orm.state.InstanceState object at ...,...,66.0,60.0,34.0,40.0,65.0,59.0,5.0,43.0,62.0,50.0
4,505942,<sqlalchemy.orm.state.InstanceState object at ...,218353,505942,187,1992-02-29 00:00:00,Aaron Appindangoye,1,182.88,<sqlalchemy.orm.state.InstanceState object at ...,...,66.0,60.0,34.0,40.0,65.0,59.0,5.0,43.0,62.0,50.0
5,155782,<sqlalchemy.orm.state.InstanceState object at ...,189615,155782,146,1989-12-15 00:00:00,Aaron Cresswell,2,170.18,<sqlalchemy.orm.state.InstanceState object at ...,...,78.0,71.0,62.0,67.0,76.0,78.0,14.0,40.0,68.0,73.0
6,155782,<sqlalchemy.orm.state.InstanceState object at ...,189615,155782,146,1989-12-15 00:00:00,Aaron Cresswell,2,170.18,<sqlalchemy.orm.state.InstanceState object at ...,...,78.0,71.0,60.0,67.0,76.0,78.0,14.0,32.0,68.0,73.0
7,155782,<sqlalchemy.orm.state.InstanceState object at ...,189615,155782,146,1989-12-15 00:00:00,Aaron Cresswell,2,170.18,<sqlalchemy.orm.state.InstanceState object at ...,...,78.0,70.0,59.0,66.0,75.0,78.0,14.0,29.0,67.0,71.0
8,155782,<sqlalchemy.orm.state.InstanceState object at ...,189615,155782,146,1989-12-15 00:00:00,Aaron Cresswell,2,170.18,<sqlalchemy.orm.state.InstanceState object at ...,...,78.0,70.0,58.0,66.0,75.0,78.0,14.0,29.0,67.0,71.0
9,155782,<sqlalchemy.orm.state.InstanceState object at ...,189615,155782,146,1989-12-15 00:00:00,Aaron Cresswell,2,170.18,<sqlalchemy.orm.state.InstanceState object at ...,...,78.0,70.0,58.0,66.0,75.0,78.0,14.0,29.0,67.0,71.0
10,155782,<sqlalchemy.orm.state.InstanceState object at ...,189615,155782,146,1989-12-15 00:00:00,Aaron Cresswell,2,170.18,<sqlalchemy.orm.state.InstanceState object at ...,...,78.0,70.0,58.0,66.0,77.0,78.0,14.0,29.0,67.0,71.0
11,155782,<sqlalchemy.orm.state.InstanceState object at ...,189615,155782,146,1989-12-15 00:00:00,Aaron Cresswell,2,170.18,<sqlalchemy.orm.state.InstanceState object at ...,...,78.0,70.0,58.0,66.0,78.0,78.0,14.0,29.0,67.0,71.0
12,155782,<sqlalchemy.orm.state.InstanceState object at ...,189615,155782,146,1989-12-15 00:00:00,Aaron Cresswell,2,170.18,<sqlalchemy.orm.state.InstanceState object at ...,...,78.0,70.0,58.0,66.0,77.0,78.0,14.0,29.0,67.0,67.0
13,155782,<sqlalchemy.orm.state.InstanceState object at ...,189615,155782,146,1989-12-15 00:00:00,Aaron Cresswell,2,170.18,<sqlalchemy.orm.state.InstanceState object at ...,...,72.0,69.0,56.0,65.0,75.0,79.0,13.0,28.0,66.0,66.0
14,155782,<sqlalchemy.orm.state.InstanceState object at ...,189615,155782,146,1989-12-15 00:00:00,Aaron Cresswell,2,170.18,<sqlalchemy.orm.state.InstanceState object at ...,...,72.0,69.0,56.0,65.0,77.0,79.0,13.0,28.0,66.0,66.0
15,155782,<sqlalchemy.orm.state.InstanceState object at ...,189615,155782,146,1989-12-15 00:00:00,Aaron Cresswell,2,170.18,<sqlalchemy.orm.state.InstanceState object at ...,...,72.0,69.0,56.0,65.0,77.0,79.0,13.0,28.0,66.0,66.0
16,155782,<sqlalchemy.orm.state.InstanceState object at ...,189615,155782,146,1989-12-15 00:00:00,Aaron Cresswell,2,170.18,<sqlalchemy.orm.state.InstanceState object at ...,...,72.0,67.0,56.0,62.0,77.0,79.0,13.0,28.0,66.0,66.0
17,155782,<sqlalchemy.orm.state.InstanceState object at ...,189615,155782,146,1989-12-15 00:00:00,Aaron Cresswell,2,170.18,<sqlalchemy.orm.state.InstanceState object at ...,...,72.0,67.0,56.0,62.0,79.0,81.0,13.0,28.0,66.0,66.0
18,155782,<sqlalchemy.orm.state.InstanceState object at ...,189615,155782,146,1989-12-15 00:00:00,Aaron Cresswell,2,170.18,<sqlalchemy.orm.state.InstanceState object at ...,...,72.0,67.0,56.0,62.0,79.0,81.0,13.0,28.0,66.0,66.0
19,155782,<sqlalchemy.orm.state.InstanceState object at ...,189615,155782,146,1989-12-15 00:00:00,Aaron Cresswell,2,170.18,<sqlalchemy.orm.state.InstanceState object at ...,...,72.0,67.0,55.0,62.0,79.0,81.0,13.0,28.0,66.0,66.0
20,155782,<sqlalchemy.orm.state.InstanceState object at ...,189615,155782,146,1989-12-15 00:00:00,Aaron Cresswell,2,170.18,<sqlalchemy.orm.state.InstanceState object at ...,...,72.0,67.0,55.0,62.0,79.0,81.0,13.0,28.0,66.0,66.0
21,155782,<sqlalchemy.orm.state.InstanceState object at ...,189615,155782,146,1989-12-15 00:00:00,Aaron Cresswell,2,170.18,<sqlalchemy.orm.state.InstanceState object at ...,...,72.0,67.0,55.0,62.0,79.0,81.0,13.0,28.0,66.0,66.0
22,155782,<sqlalchemy.orm.state.InstanceState object at ...,189615,155782,146,1989-12-15 00:00:00,Aaron Cresswell,2,170.18,<sqlalchemy.orm.state.InstanceState object at ...,...,72.0,64.0,55.0,62.0,79.0,81.0,13.0,28.0,63.0,66.0
23,155782,<sqlalchemy.orm.state.InstanceState object at ...,189615,155782,146,1989-12-15 00:00:00,Aaron Cresswell,2,170.18,<sqlalchemy.orm.state.InstanceState object at ...,...,72.0,64.0,55.0,62.0,79.0,81.0,13.0,28.0,63.0,66.0
24,155782,<sqlalchemy.orm.state.InstanceState object at ...,189615,155782,146,1989-12-15 00:00:00,Aaron Cresswell,2,170.18,<sqlalchemy.orm.state.InstanceState object at ...,...,72.0,64.0,55.0,62.0,80.0,77.0,13.0,28.0,63.0,65.0
25,155782,<sqlalchemy.orm.state.InstanceState object at ...,189615,155782,146,1989-12-15 00:00:00,Aaron Cresswell,2,170.18,<sqlalchemy.orm.state.InstanceState object at ...,...,72.0,64.0,55.0,62.0,80.0,77.0,13.0,28.0,63.0,65.0
26,155782,<sqlalchemy.orm.state.InstanceState object at ...,189615,155782,146,1989-12-15 00:00:00,Aaron Cresswell,2,170.18,<sqlalchemy.orm.state.InstanceState object at ...,...,72.0,64.0,55.0,62.0,80.0,77.0,13.0,28.0,63.0,65.0
27,155782,<sqlalchemy.orm.state.InstanceState object at ...,189615,155782,146,1989-12-15 00:00:00,Aaron Cresswell,2,170.18,<sqlalchemy.orm.state.InstanceState object at ...,...,72.0,64.0,55.0,62.0,80.0,81.0,13.0,28.0,63.0,65.0
28,155782,<sqlalchemy.orm.state.InstanceState object at ...,189615,155782,146,1989-12-15 00:00:00,Aaron Cresswell,2,170.18,<sqlalchemy.orm.state.InstanceState object at ...,...,72.0,64.0,55.0,62.0,80.0,81.0,13.0,28.0,63.0,65.0
29,155782,<sqlalchemy.orm.state.InstanceState object at ...,189615,155782,146,1989-12-15 00:00:00,Aaron Cresswell,2,170.18,<sqlalchemy.orm.state.InstanceState object at ...,...,72.0,64.0,55.0,62.0,80.0,81.0,13.0,28.0,63.0,64.0
30,155782,<sqlalchemy.orm.state.InstanceState object at ...,189615,155782,146,1989-12-15 00:00:00,Aaron Cresswell,2,170.18,<sqlalchemy.orm.state.InstanceState object at ...,...,67.0,62.0,54.0,59.0,68.0,74.0,13.0,30.0,64.0,62.0
31,155782,<sqlalchemy.orm.state.InstanceState object at ...,189615,155782,146,1989-12-15 00:00:00,Aaron Cresswell,2,170.18,<sqlalchemy.orm.state.InstanceState object at ...,...,67.0,59.0,54.0,59.0,68.0,74.0,13.0,30.0,64.0,62.0
32,155782,<sqlalchemy.orm.state.InstanceState object at ...,189615,155782,146,1989-12-15 00:00:00,Aaron Cresswell,2,170.18,<sqlalchemy.orm.state.InstanceState object at ...,...,63.0,45.0,54.0,40.0,65.0,59.0,13.0,30.0,64.0,44.0
33,155782,<sqlalchemy.orm.state.InstanceState object at ...,189615,155782,146,1989-12-15 00:00:00,Aaron Cresswell,2,170.18,<sqlalchemy.orm.state.InstanceState object at ...,...,63.0,44.0,53.0,31.0,64.0,59.0,6.0,30.0,63.0,43.0
34,155782,<sqlalchemy.orm.state.InstanceState object at ...,189615,155782,146,1989-12-15 00:00:00,Aaron Cresswell,2,170.18,<sqlalchemy.orm.state.InstanceState object at ...,...,63.0,45.0,54.0,32.0,65.0,59.0,6.0,30.0,64.0,44.0
35,155782,<sqlalchemy.orm.state.InstanceState object at ...,189615,155782,146,1989-12-15 00:00:00,Aaron Cresswell,2,170.18,<sqlalchemy.orm.state.InstanceState object at ...,...,63.0,39.0,35.0,32.0,60.0,59.0,6.0,30.0,64.0,26.0
36,155782,<sqlalchemy.orm.state.InstanceState object at ...,189615,155782,146,1989-12-15 00:00:00,Aaron Cresswell,2,170.18,<sqlalchemy.orm.state.InstanceState object at ...,...,63.0,39.0,35.0,32.0,60.0,59.0,6.0,30.0,64.0,26.0
37,155782,<sqlalchemy.orm.state.InstanceState object at ...,189615,155782,146,1989-12-15 00:00:00,Aaron Cresswell,2,170.18,<sqlalchemy.orm.state.InstanceState object at ...,...,63.0,39.0,35.0,32.0,60.0,59.0,6.0,30.0,64.0,26.0
38,162549,<sqlalchemy.orm.state.InstanceState object at ...,186170,162549,163,1991-05-13 00:00:00,Aaron Doran,3,170.18,<sqlalchemy.orm.state.InstanceState object at ...,...,24.0,66.0,57.0,55.0,67.0,85.0,16.0,52.0,60.0,66.0
39,162549,<sqlalchemy.orm.state.InstanceState object at ...,186170,162549,163,1991-05-13 00:00:00,Aaron Doran,3,170.18,<sqlalchemy.orm.state.InstanceState object at ...,...,24.0,66.0,57.0,55.0,70.0,85.0,16.0,52.0,60.0,66.0
40,162549,<sqlalchemy.orm.state.InstanceState object at ...,186170,162549,163,1991-05-13 00:00:00,Aaron Doran,3,170.18,<sqlalchemy.orm.state.InstanceState object at ...,...,24.0,66.0,57.0,55.0,70.0,85.0,16.0,52.0,60.0,66.0
41,162549,<sqlalchemy.orm.state.InstanceState object at ...,186170,162549,163,1991-05-13 00:00:00,Aaron Doran,3,170.18,<sqlalchemy.orm.state.InstanceState object at ...,...,21.0,66.0,56.0,54.0,72.0,81.0,15.0,51.0,59.0,66.0
42,162549,<sqlalchemy.orm.state.InstanceState object at ...,186170,162549,163,1991-05-13 00:00:00,Aaron Doran,3,170.18,<sqlalchemy.orm.state.InstanceState object at ...,...,21.0,66.0,56.0,54.0,72.0,81.0,15.0,51.0,59.0,69.0
43,162549,<sqlalchemy.orm.state.InstanceState object at ...,186170,162549,163,1991-05-13 00:00:00,Aaron Doran,3,170.18,<sqlalchemy.orm.state.InstanceState object at ...,...,21.0,66.0,56.0,54.0,77.0,81.0,15.0,51.0,59.0,69.0
44,162549,<sqlalchemy.orm.state.InstanceState object at ...,186170,162549,163,1991-05-13 00:00:00,Aaron Doran,3,170.18,<sqlalchemy.orm.state.InstanceState object at ...,...,21.0,66.0,56.0,54.0,77.0,81.0,15.0,51.0,59.0,69.0

In [11]:
sqlite_ddl = """CREATE TABLE "Country" (
	"id"	INTEGER,
	"name"	TEXT UNIQUE,
	PRIMARY KEY("id" AUTOINCREMENT)
);
​
CREATE TABLE "League" (
	"id"	INTEGER,
	"country_id"	INTEGER,
	"name"	TEXT UNIQUE,
	FOREIGN KEY("country_id") REFERENCES "country"("id"),
	PRIMARY KEY("id" AUTOINCREMENT)
);
​
CREATE TABLE "Match" (
	"id"	INTEGER,
	"country_id"	INTEGER,
	"league_id"	INTEGER,
	"season"	TEXT,
	"stage"	INTEGER,
	"date"	TEXT,
	"match_api_id"	INTEGER UNIQUE,
	"home_team_api_id"	INTEGER,
	"away_team_api_id"	INTEGER,
	"home_team_goal"	INTEGER,
	"away_team_goal"	INTEGER,
	"home_player_X1"	INTEGER,
	"home_player_X2"	INTEGER,
	"home_player_X3"	INTEGER,
	"home_player_X4"	INTEGER,
	"home_player_X5"	INTEGER,
	"home_player_X6"	INTEGER,
	"home_player_X7"	INTEGER,
	"home_player_X8"	INTEGER,
	"home_player_X9"	INTEGER,
	"home_player_X10"	INTEGER,
	"home_player_X11"	INTEGER,
	"away_player_X1"	INTEGER,
	"away_player_X2"	INTEGER,
	"away_player_X3"	INTEGER,
	"away_player_X4"	INTEGER,
	"away_player_X5"	INTEGER,
	"away_player_X6"	INTEGER,
	"away_player_X7"	INTEGER,
	"away_player_X8"	INTEGER,
	"away_player_X9"	INTEGER,
	"away_player_X10"	INTEGER,
	"away_player_X11"	INTEGER,
	"home_player_Y1"	INTEGER,
	"home_player_Y2"	INTEGER,
	"home_player_Y3"	INTEGER,
	"home_player_Y4"	INTEGER,
	"home_player_Y5"	INTEGER,
	"home_player_Y6"	INTEGER,
	"home_player_Y7"	INTEGER,
	"home_player_Y8"	INTEGER,
	"home_player_Y9"	INTEGER,
	"home_player_Y10"	INTEGER,
	"home_player_Y11"	INTEGER,
	"away_player_Y1"	INTEGER,
	"away_player_Y2"	INTEGER,
	"away_player_Y3"	INTEGER,
	"away_player_Y4"	INTEGER,
	"away_player_Y5"	INTEGER,
	"away_player_Y6"	INTEGER,
	"away_player_Y7"	INTEGER,
	"away_player_Y8"	INTEGER,
	"away_player_Y9"	INTEGER,
	"away_player_Y10"	INTEGER,
	"away_player_Y11"	INTEGER,
	"home_player_1"	INTEGER,
	"home_player_2"	INTEGER,
	"home_player_3"	INTEGER,
	"home_player_4"	INTEGER,
	"home_player_5"	INTEGER,
	"home_player_6"	INTEGER,
	"home_player_7"	INTEGER,
	"home_player_8"	INTEGER,
	"home_player_9"	INTEGER,
	"home_player_10"	INTEGER,
	"home_player_11"	INTEGER,
	"away_player_1"	INTEGER,
	"away_player_2"	INTEGER,
	"away_player_3"	INTEGER,
	"away_player_4"	INTEGER,
	"away_player_5"	INTEGER,
	"away_player_6"	INTEGER,
	"away_player_7"	INTEGER,
	"away_player_8"	INTEGER,
	"away_player_9"	INTEGER,
	"away_player_10"	INTEGER,
	"away_player_11"	INTEGER,
	"goal"	TEXT,
	"shoton"	TEXT,
	"shotoff"	TEXT,
	"foulcommit"	TEXT,
	"card"	TEXT,
	"cross"	TEXT,
	"corner"	TEXT,
	"possession"	TEXT,
	"B365H"	NUMERIC,
	"B365D"	NUMERIC,
	"B365A"	NUMERIC,
	"BWH"	NUMERIC,
	"BWD"	NUMERIC,
	"BWA"	NUMERIC,
	"IWH"	NUMERIC,
	"IWD"	NUMERIC,
	"IWA"	NUMERIC,
	"LBH"	NUMERIC,
	"LBD"	NUMERIC,
	"LBA"	NUMERIC,
	"PSH"	NUMERIC,
	"PSD"	NUMERIC,
	"PSA"	NUMERIC,
	"WHH"	NUMERIC,
	"WHD"	NUMERIC,
	"WHA"	NUMERIC,
	"SJH"	NUMERIC,
	"SJD"	NUMERIC,
	"SJA"	NUMERIC,
	"VCH"	NUMERIC,
	"VCD"	NUMERIC,
	"VCA"	NUMERIC,
	"GBH"	NUMERIC,
	"GBD"	NUMERIC,
	"GBA"	NUMERIC,
	"BSH"	NUMERIC,
	"BSD"	NUMERIC,
	"BSA"	NUMERIC,
	FOREIGN KEY("home_player_9") REFERENCES "Player"("player_api_id"),
	FOREIGN KEY("away_player_1") REFERENCES "Player"("player_api_id"),
	FOREIGN KEY("home_player_10") REFERENCES "Player"("player_api_id"),
	FOREIGN KEY("away_player_2") REFERENCES "Player"("player_api_id"),
	FOREIGN KEY("away_player_3") REFERENCES "Player"("player_api_id"),
	FOREIGN KEY("away_player_4") REFERENCES "Player"("player_api_id"),
	FOREIGN KEY("away_player_5") REFERENCES "Player"("player_api_id"),
	FOREIGN KEY("away_player_6") REFERENCES "Player"("player_api_id"),
	FOREIGN KEY("home_player_11") REFERENCES "Player"("player_api_id"),
	FOREIGN KEY("home_player_5") REFERENCES "Player"("player_api_id"),
	FOREIGN KEY("home_player_7") REFERENCES "Player"("player_api_id"),
	FOREIGN KEY("home_player_4") REFERENCES "Player"("player_api_id"),
	FOREIGN KEY("away_player_9") REFERENCES "Player"("player_api_id"),
	FOREIGN KEY("away_player_10") REFERENCES "Player"("player_api_id"),
	FOREIGN KEY("away_player_7") REFERENCES "Player"("player_api_id"),
	FOREIGN KEY("home_player_6") REFERENCES "Player"("player_api_id"),
	FOREIGN KEY("home_player_8") REFERENCES "Player"("player_api_id"),
	FOREIGN KEY("away_player_8") REFERENCES "Player"("player_api_id"),
	FOREIGN KEY("away_team_api_id") REFERENCES "Team"("team_api_id"),
	FOREIGN KEY("home_player_1") REFERENCES "Player"("player_api_id"),
	FOREIGN KEY("home_player_3") REFERENCES "Player"("player_api_id"),
	FOREIGN KEY("home_player_2") REFERENCES "Player"("player_api_id"),
	FOREIGN KEY("country_id") REFERENCES "country"("id"),
	FOREIGN KEY("league_id") REFERENCES "League"("id"),
	FOREIGN KEY("home_team_api_id") REFERENCES "Team"("team_api_id"),
	FOREIGN KEY("away_player_11") REFERENCES "Player"("player_api_id"),
	PRIMARY KEY("id" AUTOINCREMENT)
);
​
CREATE TABLE "Player" (
	"id"	INTEGER,
	"player_api_id"	INTEGER UNIQUE,
	"player_name"	TEXT,
	"player_fifa_api_id"	INTEGER UNIQUE,
	"birthday"	TEXT,
	"height"	INTEGER,
	"weight"	INTEGER,
	PRIMARY KEY("id" AUTOINCREMENT)
);
​
​
CREATE TABLE "Player_Attributes" (
	"id"	INTEGER,
	"player_fifa_api_id"	INTEGER,
	"player_api_id"	INTEGER,
	"date"	TEXT,
	"overall_rating"	INTEGER,
	"potential"	INTEGER,
	"preferred_foot"	TEXT,
	"attacking_work_rate"	TEXT,
	"defensive_work_rate"	TEXT,
	"crossing"	INTEGER,
	"finishing"	INTEGER,
	"heading_accuracy"	INTEGER,
	"short_passing"	INTEGER,
	"volleys"	INTEGER,
	"dribbling"	INTEGER,
	"curve"	INTEGER,
	"free_kick_accuracy"	INTEGER,
	"long_passing"	INTEGER,
	"ball_control"	INTEGER,
	"acceleration"	INTEGER,
	"sprint_speed"	INTEGER,
	"agility"	INTEGER,
	"reactions"	INTEGER,
	"balance"	INTEGER,
	"shot_power"	INTEGER,
	"jumping"	INTEGER,
	"stamina"	INTEGER,
	"strength"	INTEGER,
	"long_shots"	INTEGER,
	"aggression"	INTEGER,
	"interceptions"	INTEGER,
	"positioning"	INTEGER,
	"vision"	INTEGER,
	"penalties"	INTEGER,
	"marking"	INTEGER,
	"standing_tackle"	INTEGER,
	"sliding_tackle"	INTEGER,
	"gk_diving"	INTEGER,
	"gk_handling"	INTEGER,
	"gk_kicking"	INTEGER,
	"gk_positioning"	INTEGER,
	"gk_reflexes"	INTEGER,
	FOREIGN KEY("player_fifa_api_id") REFERENCES "Player"("player_fifa_api_id"),
	FOREIGN KEY("player_api_id") REFERENCES "Player"("player_api_id"),
	PRIMARY KEY("id" AUTOINCREMENT)
);
​
CREATE TABLE "Team" (
	"id"	INTEGER,
	"team_api_id"	INTEGER UNIQUE,
	"team_fifa_api_id"	INTEGER,
	"team_long_name"	TEXT,
	"team_short_name"	TEXT,
	PRIMARY KEY("id" AUTOINCREMENT)
);
​
CREATE TABLE "Team_Attributes" (
	"id"	INTEGER,
	"team_fifa_api_id"	INTEGER,
	"team_api_id"	INTEGER,
	"date"	TEXT,
	"buildUpPlaySpeed"	INTEGER,
	"buildUpPlaySpeedClass"	TEXT,
	"buildUpPlayDribbling"	INTEGER,
	"buildUpPlayDribblingClass"	TEXT,
	"buildUpPlayPassing"	INTEGER,
	"buildUpPlayPassingClass"	TEXT,
	"buildUpPlayPositioningClass"	TEXT,
	"chanceCreationPassing"	INTEGER,
	"chanceCreationPassingClass"	TEXT,
	"chanceCreationCrossing"	INTEGER,
	"chanceCreationCrossingClass"	TEXT,
	"chanceCreationShooting"	INTEGER,
	"chanceCreationShootingClass"	TEXT,
	"chanceCreationPositioningClass"	TEXT,
	"defencePressure"	INTEGER,
	"defencePressureClass"	TEXT,
	"defenceAggression"	INTEGER,
	"defenceAggressionClass"	TEXT,
	"defenceTeamWidth"	INTEGER,
	"defenceTeamWidthClass"	TEXT,
	"defenceDefenderLineClass"	TEXT,
	FOREIGN KEY("team_fifa_api_id") REFERENCES "Team"("team_fifa_api_id"),
	FOREIGN KEY("team_api_id") REFERENCES "Team"("team_api_id"),
	PRIMARY KEY("id" AUTOINCREMENT)
);
​
CREATE TABLE "sqlite_sequence" (
	"name"	,
	"seq"
);"""