In [1]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine
import pandas as pd

In [2]:
# Create engine using the `demographics.sqlite` database file
engine = create_engine("sqlite:///C:/Users/JoshWeidenaar/Downloads/database.sqlite")

In [3]:
engine

Engine(sqlite:///C:/Users/JoshWeidenaar/Downloads/database.sqlite)

In [4]:
# Declare a Base using `automap_base()`
Base = automap_base()

In [5]:
# Use the Base class to reflect the database tables
Base.prepare(engine, reflect=True)

In [6]:
# Create a session
session = Session(engine)

In [7]:
# Print all of the classes mapped to the Base
classes = Base.classes.keys()

In [8]:
df_dict = {}

for i in classes:
    class_call = Base.classes[i]
    class_data = session.query(class_call).all()
    listie_dicts = []
    for j in class_data:
        listie_dicts.append(j.__dict__)
    df_dict[i] = pd.DataFrame(listie_dicts)

C:\Users\JoshWeidenaar\anaconda3\lib\site-packages\sqlalchemy\sql\sqltypes.py:661: SAWarning: Dialect sqlite+pysqlite does *not* support Decimal objects natively, and SQLAlchemy must convert from floating point - rounding errors and other issues may occur. Please consider storing Decimal numbers as strings or integers on this platform for lossless storage.
  util.warn(

In [57]:
classes

['Country',
 'League',
 'country',
 'Match',
 'Player',
 'Team',
 'Player_Attributes',
 'Team_Attributes']

In [12]:
country_id = df_dict['country']['id']
country_id_LEAGUE = df_dict['League']['country_id']
league_id = df_dict['League']['id']

In [20]:
league_id_MATCH = df_dict['Match']['league_id']
country_id_MATCH = df_dict['Match']['country_id']
home_team_api_id_MATCH = df_dict['Match']['home_team_api_id']
away_team_api_id_MATCH = df_dict['Match']['away_team_api_id'] 
player_id_MATCH = []#any attr in Match table that has the word "player" in it
player_id = df_dict['Player']['id']
player_api_id = df_dict['Player']['player_api_id']
player_fifa_id = df_dict['Player']['player_fifa_api_id']
player_attr_id = df_dict['Player_Attributes']['id']
player_id_ATTRS = df_dict['Player_Attributes']['player_api_id']
player_fifa_id_ATTRS = df_dict['Player_Attributes']['player_fifa_api_id']
team_fifa_id = df_dict['Team']['team_fifa_api_id']
team_id = df_dict['Team']['id']
team_api_id = df_dict['Team']['team_api_id']
team_id_ATTRS = df_dict['Team_Attributes']['team_api_id']
team_fifa_id_ATTRS = df_dict['Team_Attributes']['team_fifa_api_id']

In [31]:
player_merged = pd.merge(df_dict['Player'],df_dict['Player_Attributes'],left_on=player_api_id,right_on=player_id_ATTRS)
print(len(df_dict['Player_Attributes']) - len(player_merged))

0

In [30]:
team_merged = pd.merge(df_dict['Team'],df_dict['Team_Attributes'],left_on=team_api_id ,right_on=team_id_ATTRS)
print(len(df_dict['Team_Attributes']) - len(team_merged))

0

In [33]:
league_merged = pd.merge(df_dict['League'],df_dict['Country'],left_on=country_id_LEAGUE,right_on=country_id)
print(len(df_dict['League']) - len(league_merged))

0

In [11]:
sqlite_ddl = """CREATE TABLE "Country" (
	"id"	INTEGER,
	"name"	TEXT UNIQUE,
	PRIMARY KEY("id" AUTOINCREMENT)
);
​
CREATE TABLE "League" (
	"id"	INTEGER,
	"country_id"	INTEGER,
	"name"	TEXT UNIQUE,
	FOREIGN KEY("country_id") REFERENCES "country"("id"),
	PRIMARY KEY("id" AUTOINCREMENT)
);
​
CREATE TABLE "Match" (
	"id"	INTEGER,
	"country_id"	INTEGER,
	"league_id"	INTEGER,
	"season"	TEXT,
	"stage"	INTEGER,
	"date"	TEXT,
	"match_api_id"	INTEGER UNIQUE,
	"home_team_api_id"	INTEGER,
	"away_team_api_id"	INTEGER,
	"home_team_goal"	INTEGER,
	"away_team_goal"	INTEGER,
	"home_player_X1"	INTEGER,
	"home_player_X2"	INTEGER,
	"home_player_X3"	INTEGER,
	"home_player_X4"	INTEGER,
	"home_player_X5"	INTEGER,
	"home_player_X6"	INTEGER,
	"home_player_X7"	INTEGER,
	"home_player_X8"	INTEGER,
	"home_player_X9"	INTEGER,
	"home_player_X10"	INTEGER,
	"home_player_X11"	INTEGER,
	"away_player_X1"	INTEGER,
	"away_player_X2"	INTEGER,
	"away_player_X3"	INTEGER,
	"away_player_X4"	INTEGER,
	"away_player_X5"	INTEGER,
	"away_player_X6"	INTEGER,
	"away_player_X7"	INTEGER,
	"away_player_X8"	INTEGER,
	"away_player_X9"	INTEGER,
	"away_player_X10"	INTEGER,
	"away_player_X11"	INTEGER,
	"home_player_Y1"	INTEGER,
	"home_player_Y2"	INTEGER,
	"home_player_Y3"	INTEGER,
	"home_player_Y4"	INTEGER,
	"home_player_Y5"	INTEGER,
	"home_player_Y6"	INTEGER,
	"home_player_Y7"	INTEGER,
	"home_player_Y8"	INTEGER,
	"home_player_Y9"	INTEGER,
	"home_player_Y10"	INTEGER,
	"home_player_Y11"	INTEGER,
	"away_player_Y1"	INTEGER,
	"away_player_Y2"	INTEGER,
	"away_player_Y3"	INTEGER,
	"away_player_Y4"	INTEGER,
	"away_player_Y5"	INTEGER,
	"away_player_Y6"	INTEGER,
	"away_player_Y7"	INTEGER,
	"away_player_Y8"	INTEGER,
	"away_player_Y9"	INTEGER,
	"away_player_Y10"	INTEGER,
	"away_player_Y11"	INTEGER,
	"home_player_1"	INTEGER,
	"home_player_2"	INTEGER,
	"home_player_3"	INTEGER,
	"home_player_4"	INTEGER,
	"home_player_5"	INTEGER,
	"home_player_6"	INTEGER,
	"home_player_7"	INTEGER,
	"home_player_8"	INTEGER,
	"home_player_9"	INTEGER,
	"home_player_10"	INTEGER,
	"home_player_11"	INTEGER,
	"away_player_1"	INTEGER,
	"away_player_2"	INTEGER,
	"away_player_3"	INTEGER,
	"away_player_4"	INTEGER,
	"away_player_5"	INTEGER,
	"away_player_6"	INTEGER,
	"away_player_7"	INTEGER,
	"away_player_8"	INTEGER,
	"away_player_9"	INTEGER,
	"away_player_10"	INTEGER,
	"away_player_11"	INTEGER,
	"goal"	TEXT,
	"shoton"	TEXT,
	"shotoff"	TEXT,
	"foulcommit"	TEXT,
	"card"	TEXT,
	"cross"	TEXT,
	"corner"	TEXT,
	"possession"	TEXT,
	"B365H"	NUMERIC,
	"B365D"	NUMERIC,
	"B365A"	NUMERIC,
	"BWH"	NUMERIC,
	"BWD"	NUMERIC,
	"BWA"	NUMERIC,
	"IWH"	NUMERIC,
	"IWD"	NUMERIC,
	"IWA"	NUMERIC,
	"LBH"	NUMERIC,
	"LBD"	NUMERIC,
	"LBA"	NUMERIC,
	"PSH"	NUMERIC,
	"PSD"	NUMERIC,
	"PSA"	NUMERIC,
	"WHH"	NUMERIC,
	"WHD"	NUMERIC,
	"WHA"	NUMERIC,
	"SJH"	NUMERIC,
	"SJD"	NUMERIC,
	"SJA"	NUMERIC,
	"VCH"	NUMERIC,
	"VCD"	NUMERIC,
	"VCA"	NUMERIC,
	"GBH"	NUMERIC,
	"GBD"	NUMERIC,
	"GBA"	NUMERIC,
	"BSH"	NUMERIC,
	"BSD"	NUMERIC,
	"BSA"	NUMERIC,
	FOREIGN KEY("home_player_9") REFERENCES "Player"("player_api_id"),
	FOREIGN KEY("away_player_1") REFERENCES "Player"("player_api_id"),
	FOREIGN KEY("home_player_10") REFERENCES "Player"("player_api_id"),
	FOREIGN KEY("away_player_2") REFERENCES "Player"("player_api_id"),
	FOREIGN KEY("away_player_3") REFERENCES "Player"("player_api_id"),
	FOREIGN KEY("away_player_4") REFERENCES "Player"("player_api_id"),
	FOREIGN KEY("away_player_5") REFERENCES "Player"("player_api_id"),
	FOREIGN KEY("away_player_6") REFERENCES "Player"("player_api_id"),
	FOREIGN KEY("home_player_11") REFERENCES "Player"("player_api_id"),
	FOREIGN KEY("home_player_5") REFERENCES "Player"("player_api_id"),
	FOREIGN KEY("home_player_7") REFERENCES "Player"("player_api_id"),
	FOREIGN KEY("home_player_4") REFERENCES "Player"("player_api_id"),
	FOREIGN KEY("away_player_9") REFERENCES "Player"("player_api_id"),
	FOREIGN KEY("away_player_10") REFERENCES "Player"("player_api_id"),
	FOREIGN KEY("away_player_7") REFERENCES "Player"("player_api_id"),
	FOREIGN KEY("home_player_6") REFERENCES "Player"("player_api_id"),
	FOREIGN KEY("home_player_8") REFERENCES "Player"("player_api_id"),
	FOREIGN KEY("away_player_8") REFERENCES "Player"("player_api_id"),
	FOREIGN KEY("away_team_api_id") REFERENCES "Team"("team_api_id"),
	FOREIGN KEY("home_player_1") REFERENCES "Player"("player_api_id"),
	FOREIGN KEY("home_player_3") REFERENCES "Player"("player_api_id"),
	FOREIGN KEY("home_player_2") REFERENCES "Player"("player_api_id"),
	FOREIGN KEY("country_id") REFERENCES "country"("id"),
	FOREIGN KEY("league_id") REFERENCES "League"("id"),
	FOREIGN KEY("home_team_api_id") REFERENCES "Team"("team_api_id"),
	FOREIGN KEY("away_player_11") REFERENCES "Player"("player_api_id"),
	PRIMARY KEY("id" AUTOINCREMENT)
);
​
CREATE TABLE "Player" (
	"id"	INTEGER,
	"player_api_id"	INTEGER UNIQUE,
	"player_name"	TEXT,
	"player_fifa_api_id"	INTEGER UNIQUE,
	"birthday"	TEXT,
	"height"	INTEGER,
	"weight"	INTEGER,
	PRIMARY KEY("id" AUTOINCREMENT)
);
​
​
CREATE TABLE "Player_Attributes" (
	"id"	INTEGER,
	"player_fifa_api_id"	INTEGER,
	"player_api_id"	INTEGER,
	"date"	TEXT,
	"overall_rating"	INTEGER,
	"potential"	INTEGER,
	"preferred_foot"	TEXT,
	"attacking_work_rate"	TEXT,
	"defensive_work_rate"	TEXT,
	"crossing"	INTEGER,
	"finishing"	INTEGER,
	"heading_accuracy"	INTEGER,
	"short_passing"	INTEGER,
	"volleys"	INTEGER,
	"dribbling"	INTEGER,
	"curve"	INTEGER,
	"free_kick_accuracy"	INTEGER,
	"long_passing"	INTEGER,
	"ball_control"	INTEGER,
	"acceleration"	INTEGER,
	"sprint_speed"	INTEGER,
	"agility"	INTEGER,
	"reactions"	INTEGER,
	"balance"	INTEGER,
	"shot_power"	INTEGER,
	"jumping"	INTEGER,
	"stamina"	INTEGER,
	"strength"	INTEGER,
	"long_shots"	INTEGER,
	"aggression"	INTEGER,
	"interceptions"	INTEGER,
	"positioning"	INTEGER,
	"vision"	INTEGER,
	"penalties"	INTEGER,
	"marking"	INTEGER,
	"standing_tackle"	INTEGER,
	"sliding_tackle"	INTEGER,
	"gk_diving"	INTEGER,
	"gk_handling"	INTEGER,
	"gk_kicking"	INTEGER,
	"gk_positioning"	INTEGER,
	"gk_reflexes"	INTEGER,
	FOREIGN KEY("player_fifa_api_id") REFERENCES "Player"("player_fifa_api_id"),
	FOREIGN KEY("player_api_id") REFERENCES "Player"("player_api_id"),
	PRIMARY KEY("id" AUTOINCREMENT)
);
​
CREATE TABLE "Team" (
	"id"	INTEGER,
	"team_api_id"	INTEGER UNIQUE,
	"team_fifa_api_id"	INTEGER,
	"team_long_name"	TEXT,
	"team_short_name"	TEXT,
	PRIMARY KEY("id" AUTOINCREMENT)
);
​
CREATE TABLE "Team_Attributes" (
	"id"	INTEGER,
	"team_fifa_api_id"	INTEGER,
	"team_api_id"	INTEGER,
	"date"	TEXT,
	"buildUpPlaySpeed"	INTEGER,
	"buildUpPlaySpeedClass"	TEXT,
	"buildUpPlayDribbling"	INTEGER,
	"buildUpPlayDribblingClass"	TEXT,
	"buildUpPlayPassing"	INTEGER,
	"buildUpPlayPassingClass"	TEXT,
	"buildUpPlayPositioningClass"	TEXT,
	"chanceCreationPassing"	INTEGER,
	"chanceCreationPassingClass"	TEXT,
	"chanceCreationCrossing"	INTEGER,
	"chanceCreationCrossingClass"	TEXT,
	"chanceCreationShooting"	INTEGER,
	"chanceCreationShootingClass"	TEXT,
	"chanceCreationPositioningClass"	TEXT,
	"defencePressure"	INTEGER,
	"defencePressureClass"	TEXT,
	"defenceAggression"	INTEGER,
	"defenceAggressionClass"	TEXT,
	"defenceTeamWidth"	INTEGER,
	"defenceTeamWidthClass"	TEXT,
	"defenceDefenderLineClass"	TEXT,
	FOREIGN KEY("team_fifa_api_id") REFERENCES "Team"("team_fifa_api_id"),
	FOREIGN KEY("team_api_id") REFERENCES "Team"("team_api_id"),
	PRIMARY KEY("id" AUTOINCREMENT)
);
​
CREATE TABLE "sqlite_sequence" (
	"name"	,
	"seq"
);"""

In [79]:
import datetime as dt

In [91]:
team_merged['YEAR'] = [dt.date(int(i.split('-')[0]),1,1) for i in team_merged.date]

In [89]:
df_dict['Match']['YEAR'] = [dt.date(int(i.split('-')[0]),1,1) for i in df_dict['Match'].date]

In [92]:
merge_team_away = pd.merge(df_dict['Match'],team_merged,left_on=[away_team_api_id_MATCH,'YEAR'],right_on=['team_api_id_x','YEAR'])

In [94]:
merge_team_home = pd.merge(df_dict['Match'],team_merged,left_on=[home_team_api_id_MATCH,'YEAR'],right_on=['team_api_id_x','YEAR'])

In [105]:
match_merged = pd.merge(merge_team_home,merge_team_away,left_on=['id','YEAR'],right_on=['id','YEAR'],suffixes=('_HOME','_AWAY'))
len(match_merged)

18243

In [104]:
match_merged

,_sa_instance_state_x,home_player_4_x,BWA_x,VCH_x,home_player_5_x,IWH_x,VCD_x,home_player_6_x,IWD_x,VCA_x,...,defenceAggressionClass_y,id_y_y,chanceCreationCrossing_y,buildUpPlayDribbling_y,defenceTeamWidth_y,chanceCreationCrossingClass_y,buildUpPlayDribblingClass_y,defenceTeamWidthClass_y,chanceCreationShooting_y,chanceCreationShootingClass_y
0,<sqlalchemy.orm.state.InstanceState object at ...,38389.0,4.2500000000,1.6700000000,38253.0,1.7500000000,3.6000000000,69713.0,3.3000000000,4.5000000000,...,Double,319,50,NaN,70,Normal,Little,Wide,45,Normal
1,<sqlalchemy.orm.state.InstanceState object at ...,38393.0,11.0000000000,1.2000000000,69713.0,1.2000000000,5.5000000000,38383.0,5.0000000000,12.0000000000,...,Press,1234,50,NaN,50,Normal,Little,Normal,50,Normal
2,<sqlalchemy.orm.state.InstanceState object at ...,38253.0,11.0000000000,1.2200000000,69713.0,1.2200000000,5.0000000000,38798.0,4.8000000000,13.0000000000,...,Double,660,40,NaN,60,Normal,Little,Normal,50,Normal
3,<sqlalchemy.orm.state.InstanceState object at ...,69713.0,7.5000000000,1.4000000000,38378.0,1.4000000000,4.0000000000,38383.0,3.9000000000,7.5000000000,...,Press,485,35,NaN,70,Normal,Little,Wide,60,Normal
4,<sqlalchemy.orm.state.InstanceState object at ...,38253.0,10.0000000000,1.2500000000,69713.0,1.2500000000,5.5000000000,30949.0,4.5000000000,12.0000000000,...,Double,1391,45,NaN,70,Normal,Little,Wide,55,Normal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18238,<sqlalchemy.orm.state.InstanceState object at ...,32597.0,None,None,67349.0,None,None,450493.0,None,None,...,Press,776,40,51.0,50,Normal,Normal,Normal,66,Normal
18239,<sqlalchemy.orm.state.InstanceState object at ...,32597.0,None,None,140495.0,None,None,451335.0,None,None,...,Press,1269,36,59.0,53,Normal,Normal,Normal,66,Normal
18240,<sqlalchemy.orm.state.InstanceState object at ...,32597.0,None,None,114794.0,None,None,95230.0,None,None,...,Press,1215,39,46.0,52,Normal,Normal,Normal,37,Normal
18241,<sqlalchemy.orm.state.InstanceState object at ...,32597.0,None,None,114794.0,None,None,25840.0,None,None,...,Press,451,50,49.0,56,Normal,Normal,Normal,54,Normal
18242,<sqlalchemy.orm.state.InstanceState object at ...,32597.0,None,None,114794.0,None,None,188114.0,None,None,...,Press,1439,66,56.0,50,Normal,Normal,Normal,46,Normal